/* styles.css */

body {
 margin: 0;
 font-family: Arial, sans-serif;
 background-color: #6ca6a3;
 color: #333;
}

.user-container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
}

.header {
 text-align: center;
 padding: 20px;
 background-color: #00796b;
 color: white;
 border-radius: 8px;
}

.header h1 {
 margin: 0;
 font-size: 2rem;
}

.header p {
 margin: 10px 0 0;
 font-size: 1.2rem;
}

.main {
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.service-cards {
 display: flex;
 gap: 20px;
 justify-content: center;
 flex-wrap: wrap;
}

.card {
 background: white;
 border-radius: 8px; /* Mantén el borde redondeado para la tarjeta */
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 overflow: hidden;
 width: 300px;
 text-align: center;
 transition: transform 0.2s;
 padding-bottom: 15px; /* Espacio adicional */
}


.card:hover {
    transform: scale(1.05); /* Efecto hover en toda la tarjeta */
}

.card img {
 width: 100%;
 height: 200px; /* Incrementado el tamaño */
 object-fit: cover;
}

.card h2 {
 font-size: 1.6rem; /* Ligeramente más grande */
 margin: 10px 0;
}

.card p {
 margin: 5px 10px;
 font-size: 1rem;
}

.price {
 font-weight: bold;
 color: #004d40;
 font-size: 1.2rem; /* Más destacado */
}

.schedule-btn {
 margin-top: 20px;
 padding: 10px 20px;
 background-color: #6ca6a3;
 color: white;
 font-size: 1.2rem;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 transition: background-color 0.3s;
}

.schedule-btn:hover {
 background-color: #004d40;
}

.form-popup {
 display: none;
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: white;
 border-radius: 8px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 padding: 20px;
 z-index: 1000;
}

.form-popup form {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.form-popup h2 {
 margin: 0 0 10px 0;
}

.form-popup button {
 padding: 10px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
}

.form-popup button[type="submit"] {
 background-color: #00796b;
 color: white;
}

.form-popup button[type="button"] {
 background-color: #f44336;
 color: white;
}
